<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% if page_header.page_title is defined %}{{ page_header.page_title }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page_title.desc is defined %}{{ page_title.desc }}{% else %}Symfony{% endif %}">
        <meta name="author" content="Symfony">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block stylesheets %}
            {% include 'includes/styles.html.twig' %}
                {% if page_header.page_styles is defined %}{% for styles in page_header.page_styles %}
                    <link rel="stylesheet" href="{{ asset("assets/") }}{{ styles }}">
                {% endfor %}{% endif %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% block header %}
            {% include 'includes/header.html.twig' %}
        {% endblock %}
        {% block sidebar %}
            {% include 'includes/sidebar.html.twig' %}
        {% endblock %}
        <div class="content-wrapper">
            {% block body %}


            {% endblock %}
        </div>

        {% block footer %}
            {% include 'includes/footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            {% include 'includes/scripts.html.twig' %}
            {% if page_header.page_script is defined %}
                {% for scripts in page_header.page_script %}
                    {% if scripts|slice(0,4) == "http" %}
                        <script src="{{ scripts }}"></script>
                    {% else %}
                    <script src="{{ asset('assets/') }}{{ scripts }}"></script>
                        {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock %}
    </div>
    </body>
</html>
